body {
    min-height: 100dvh;
    background-color: black;
    color: white;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.brand-text {
    font-family: "Momo Signature", cursive !important;
    font-weight: 400;
    font-style: normal;
}

/* Typing Animation */

.dot-falling {
    position: relative;
    margin-left: 32px;
    margin-bottom: 10px;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8f97a3;
    color: #8f97a3;
    box-shadow: 9999px 0 0 0 #8f97a3;
    animation: dot-falling 1s infinite linear;
    animation-delay: 0.1s;
}

.dot-falling::before,
.dot-falling::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-falling::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8f97a3;
    color: #8f97a3;
    animation: dot-falling-before 1s infinite linear;
    animation-delay: 0s;
}

.dot-falling::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #8f97a3;
    color: #8f97a3;
    animation: dot-falling-after 1s infinite linear;
    animation-delay: 0.2s;
}

@keyframes dot-falling {
    0% {
        box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 9999px 0 0 0 #8f97a3;
    }

    100% {
        box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
    }
}

@keyframes dot-falling-before {
    0% {
        box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 9984px 0 0 0 #8f97a3;
    }

    100% {
        box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
    }
}

@keyframes dot-falling-after {
    0% {
        box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
    }

    25%,
    50%,
    75% {
        box-shadow: 10014px 0 0 0 #8f97a3;
    }

    100% {
        box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
    }
}

.MuiSnackbar-root {
    position: fixed !important;
    bottom: 16px !important;
    right: 16px !important;
    left: auto !important;
}

.MuiSnackbar-root .MuiPaper-root {
    background-color: #ffffff !important;
    border-radius: 15px !important;
    height: 50px !important;
    align-items: center;
}

.MuiAlert-action {
    padding: 5px !important;
}

.haAclf {
    background-color: #000000 !important;
}

@keyframes buttonEnabledAnimation {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.03);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
